GRPC_PORT=50051
DATABASE_DSN=postgres://order_user:order_secret@postgres-order:5432/orders?sslmode=disable
PG_HOST=postgres-order
PG_USER=order_user
PG_PASSWORD=order_secret
PG_PORT=5432
PG_DATABASE=orders
KAFKA_BROKER=