GRPC_PORT=50052
DATABASE_DSN=postgres://inventory_user:inventory_secret@postgres-inventory:5432/inventory?sslmode=disable
PG_HOST=postgres-inventory
PG_USER=inventory_user
PG_PASSWORD=inventory_secret
PG_PORT=5432
PG_DATABASE=inventory
KAFKA_BROKER=